.row {
    margin-bottom: 5px;
}

.column {
	margin-right: 5px;
}

/* EB: Fixed spaces after colon issue. */
.red {
	background-color: #ff3600;
}

.green {
	background-color: #c0ff00;
}

.blue {
	background-color: #00a8ff;
}

.table-borderless td, .table-borderless th, .table-borderless tr {
    border: 0 !important;
}

.btn-help{
  bottom: 15px;
  float: left;
  top: 15px;
}

.topOfPage {
	margin-top: 5px
}

#skilltable thead {
	color: black;
}

.inventoryTable {
  width: 50%;
}

.btn-left {
    margin-right: 102px;
}

.center-title {
	text-align: center;
}

.center-image {
    display: block;
  	margin: 0 auto;
}